<div style="text-align: center;" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h4 style="text-align: center;" class="title">List Book</h4>
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> Book deleted with success
            </div>
            <div>

                <table class="table table-bordered table-condensed">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nome</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Photo</th>
                            <th>view detail</th>
                            <th>remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of bookList">
                            <td>{{book.name}}</td>
                            <td>{{book.price}}</td>
                            <td>{{book.category}}</td>
                            <td>
                                <img style="width: 3rem;" class="card-img-top" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-book-icon-png-image_4258455.jpg" alt="Card image cap">
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-info" (click)="addToCar(book)">Add to car</button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger" (click)="removeBook(book.id)">Remove</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>


        </div>
        <div class="col-md-6">
            <p>List items</p>
            <div *ngIf="listBookShop.length  > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of listBookShop; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td style="text-align: left;">
                                <img style="width: 3rem;" class="card-img-top" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-book-icon-png-image_4258455.jpg" alt="Card image cap">{{book.name}}
                            </td>
                            <td>{{ book.price}}</td>
                            <td>{{ book.category}}</td>
                        </tr>
                    </tbody>
                    <p *ngIf="totalValue > 0"><strong style="color: green;"> Total Shop: </strong>{{totalValue}}</p>
                    <hr>
                    <button>Go to payment</button>
                </table>
            </div>
        </div>
    </div>

</div>